@using Microsoft.AspNetCore.Identity
@using SetupShop.Areas.Identity.Data

@inject SignInManager<SetupShopUser> SignInManager
@inject UserManager<SetupShopUser> UserManager

@model IEnumerable<SetupShop.Models.Setup>

@{
    ViewData["Title"] = "Browse Setups";
}

<h2>Browse Setups</h2>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-6 setup">
            <img src="/media/@item.Image" class="img-fluid" alt="" />
            <div class="setup-wrapper">
                <h4>@item.Name</h4>
                <div class="setup-info">
                    <div class="setup-info-left">
                        <div class="flex">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15">
                                <path d="M13.5,13.5A3.75,3.75,0,1,0,9.75,9.75,3.749,3.749,0,0,0,13.5,13.5Zm0,1.875c-2.5,0-7.5,1.256-7.5,3.75V21H21V19.125C21,16.631,16,15.375,13.5,15.375Z" transform="translate(-6 -6)" fill="#fff" />
                            </svg>
                            <p>@item.Author</p>
                        </div>
                        <div class="flex">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="11.25" viewBox="0 0 15 11.25">
                                <path d="M14.648,7.781H12.894l-.488-1.219A3.265,3.265,0,0,0,9.361,4.5H5.64A3.266,3.266,0,0,0,2.593,6.563L2.106,7.781H.352a.351.351,0,0,0-.341.437l.176.7a.351.351,0,0,0,.341.266h.588a1.862,1.862,0,0,0-.647,1.406V12a1.86,1.86,0,0,0,.469,1.228v1.584a.938.938,0,0,0,.938.938h.938a.938.938,0,0,0,.938-.938v-.938h7.5v.938a.938.938,0,0,0,.938.938h.938a.938.938,0,0,0,.938-.938V13.228A1.859,1.859,0,0,0,14.531,12V10.594a1.863,1.863,0,0,0-.647-1.406h.588a.351.351,0,0,0,.341-.266l.176-.7a.352.352,0,0,0-.341-.437ZM4.334,7.259A1.406,1.406,0,0,1,5.64,6.375H9.361a1.406,1.406,0,0,1,1.306.884l.584,1.46H3.75l.584-1.46ZM2.813,11.994a.935.935,0,1,1,0-1.869,1.8,1.8,0,0,1,1.406,1.4C4.219,12.088,3.375,11.994,2.813,11.994Zm9.375,0c-.563,0-1.406.093-1.406-.467a1.8,1.8,0,0,1,1.406-1.4.935.935,0,1,1,0,1.869Z" transform="translate(0 -4.5)" fill="#fff" />
                            </svg>
                            <p>@item.Car</p>
                        </div>
                        <div class="flex">
                            <svg xmlns="http://www.w3.org/2000/svg" width="10.5" height="15" viewBox="0 0 10.5 15">
                                <path d="M12.75,3A5.246,5.246,0,0,0,7.5,8.25c0,3.937,5.25,9.75,5.25,9.75S18,12.187,18,8.25A5.246,5.246,0,0,0,12.75,3Zm0,7.125A1.875,1.875,0,1,1,14.625,8.25,1.876,1.876,0,0,1,12.75,10.125Z" transform="translate(-7.5 -3)" fill="#fff" />
                            </svg>
                            <p>@item.Track</p>
                        </div>
                        <div class="flex">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15.243" viewBox="0 0 15 15.243">
                                <path d="M7.564,5.651V7.678c.777.176,1.468.464,2.191.664V6.312c-.774-.173-1.471-.461-2.191-.661ZM14.211,1.99a8.692,8.692,0,0,1-3.483.95C9.136,2.939,7.817,1.9,5.811,1.9a5.788,5.788,0,0,0-2.024.357,1.667,1.667,0,1,0-2.509.771V14.525a.713.713,0,0,0,.714.714h.476a.713.713,0,0,0,.714-.714v-2.81a8.3,8.3,0,0,1,3.405-.658c1.6,0,2.911,1.036,4.918,1.036a6.22,6.22,0,0,0,3.647-1.218.95.95,0,0,0,.411-.786V2.853A.951.951,0,0,0,14.211,1.99Zm-8.838,7.7a9.378,9.378,0,0,0-2.191.494v-2.1a8.516,8.516,0,0,1,2.191-.518Zm8.764-4a9.5,9.5,0,0,1-2.191.711V8.512a5.533,5.533,0,0,0,2.191-.774v2.1a4.81,4.81,0,0,1-2.191.807V8.512a5.035,5.035,0,0,1-2.191-.167v2.006a17.368,17.368,0,0,0-2.191-.634V7.678a6.617,6.617,0,0,0-2.191-.113V5.481A10.5,10.5,0,0,0,3.182,6.1V4A8.525,8.525,0,0,1,5.373,3.35V5.481a5.063,5.063,0,0,1,2.191.17V3.645a16.947,16.947,0,0,0,2.191.634V6.315a5.671,5.671,0,0,0,2.191.08V4.255a10.532,10.532,0,0,0,2.191-.67Z" transform="translate(-0.563 0.003)" fill="#fff" />
                            </svg>
                            <p>@item.Series - @item.Season</p>
                        </div>
                    </div>
                    <div class="setup-info-right">
                        <p class="price">
                            @item.Price.ToString("C2")
                        </p>
                        <a class="btn green text-white" asp-controller="Cart" asp-action="Add" asp-route-id="@item.Id">Add To Cart</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div>
    <h3 class="mt-5">Are you an Author?</h3>
    <p><a asp-action="Author">Click here</a> to go to the Author page and manage Setups.</p>
</div>