@using Microsoft.AspNetCore.Identity
@using SetupShop.Areas.Identity.Data

@inject SignInManager<SetupShopUser> SignInManager
@inject UserManager<SetupShopUser> UserManager

@model IEnumerable<SetupShop.Models.Setup>

@{
    ViewData["Title"] = "Setups";
}

<h1>Setups</h1>

<div class="row">
    <h2>Browse</h2>
    @foreach (var item in Model)
    {
        <div class="col-4">
            <img src="/media/@item.Image" class="img-fluid" alt="" />
            <h4>@item.Name</h4>
            <div>
                <p>@item.Car - @item.Season</p>
            </div>
            <p>
                @item.Price.ToString("C2")
            </p>
            <p>
                <a class="btn btn-primary" asp-controller="Cart" asp-action="Add" asp-route-id="@item.Id">Add To Cart</a>
            </p>
        </div>
    }
</div>